In [39]:
for row in range (5):
    for col in range(5):
        print("*",end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [40]:
for row in range (5):
    for col in range(5):
        print(row,end = " ")
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [41]:
for row in range(5):
    for col in range(5):
        print(col,end = " ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [42]:
for row in range(5):
    for col in range(row+1):
        print(row,end = " ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [43]:
n = int(input("Enter the number: "))
for row in range(n):
    for col in range(n-row):
        print('*',end = " ")
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [44]:
n = int(input("Enter the number: "))
for row in range(n):
    for space in range(n - row - 1):
        print(" ", end=" ")  
    for col in range(row + 1):
        print("*", end=" ")  
    print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [45]:
n = int(input("Enter the number: "))
for row in range(n):
    for space in range(row):
        print(' ',end = " ")
    for col in range(n-row):
        print('*',end = " ")
    print()

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [46]:
n = int(input("Enter the number: "))
for row in range(n):
        print(' '*row,end="")
        print("*"*(n-row),end=" ")
        print( )

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [47]:
n = int(input("Enter the number: "))
for row in range(1, n + 1):
    print('*' * row)
for row in range(n - 1, 0, -1):
    print('*' * row)

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [48]:
n = int(input("Enter the number: "))
for row in range(n+1):
    for col in range(n - row):
        print(" ", end=" ")
    for col in range(2 * row + 1):
        print("*", end=" ")
    print()

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *

In [49]:
n = int(input("Enter a number: "))
for row in range(n):
    if row <= n // 2:
        print('*' * (row + 1))
    else:
        print('*' * (n - row + 1))
    print()

*

**

***

****

*****

******

*****

****

***

**

In [50]:
n = int(input("Enter the number: "))
for row in range(n):
    for col in range(n):
        if row == 0 or row == n-1 or col == 0 or col == n-1:
            print("*",end = " ")
        else:
            print(" ",end = " ")
    print()

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [52]:
n = int(input("Enter the number: "))
for row in range(n):
    for col in range(n):
        if row == 0 or row == n-1 or col == 0 or col == n-1 or row == n // 2 or col == n // 2:
            print("*" ,end = " ")
        else:
            print(" ",end = " ")            
    print()

* * * * * * * * * *
*         *       *
*         *       *
*         *       *
*         *       *
* * * * * * * * * *
*         *       *
*         *       *
*         *       *
* * * * * * * * * *

In [53]:
n = int(input("Enter the number: "))
for row in range(n):
    for col in range(n):
        if row == 0 or row == n-1 or row + col == n-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * * *
                *
              *
            *
          *
        *
      *
    *
  *
* * * * * * * * * *

In [ ]:
#Pattern for X
n = int(input("Enter the number: "))
for row in range(n):
    for col in range(n):
        if row == col or row+col == n-1:
            print("*",end = " ")
        else:
            print(" ",end = " ")
    print()

*                 *
  *             *
    *         *
      *     *
        * *
        * *
      *     *
    *         *
  *             *
*                 *

In [55]:
#Print The pattern for I

n = int(input("Enter the input: "))
for row in range(n):
    for col in range(n):
        if row == 0 or row == n-1 or col == n // 2:
            print("*",end = " ")
        else:
            print(" ",end = " ")
    print()

* * * * * * * * * *
          *
          *
          *
          *
          *
          *
          *
          *
* * * * * * * * * *

In [56]:
n = int(input("Enter the number: "))
for row in range(n):
    for col in range(n):
        if col == 0 or col == n-1 or row == n//2:
            print("*",end = " ")
        else:
            print(" ",end = " ")
    print()

*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *

In [3]:
#Pattern for the S
n = int(input("Enter the number: "))
for row in range(n):
    for col in range(n):
        if (row == 0 and col > 0) or (row == n//2 and col > 0 and col < n-1) or (row == n-1 and col < n-1) or (col == 0 and row > 0 and row < n//2) or (col == n-1 and row > n//2 and row < n-1):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

  * * * * * * * * *
*
*
*
*
  * * * * * * * *
                  *
                  *
                  *
* * * * * * * * *

In [ ]:
#Pattern for A
n = int(input("Enter the number: "))
for row in range(n):
    for col in range(n):
        if row == 0 or row == n//2 or col == 0 or col == n-1:
            print("*",end=" ")
        else:
            print(" ",end = " ")
    print()

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *

In [ ]:
n = int(input("Enter the input: "))
for row in range(n):
    for col in range(n):
        if (col == 0 or col == n-1) and row

In [ ]:
#Pattern to print N

n = int(input("Emter the input: "))
for row in range(n):
    for col in range(n):
        if row == col or col == 0 or col == n-1:
            print("*",end = " ")
        else:
            print(" ",end = " ")
    print()

*                 *
* *               *
*   *             *
*     *           *
*       *         *
*         *       *
*           *     *
*             *   *
*               * *
*                 *