**LMBDA functions:**
It is the shortest form of the function . 
It is used to define a function with a single expression. It is a shorthand for lambda x : x**2. 
It is used to define small anonymous functions. It is used to define functions

Syntax for lambda

In [1]:
'''var = lambda arg: expr
lambda arg
'''

'var = lambda arg: expr\nlambda arg\n'

In [2]:
def add(a,b):
    print(a+b)

add_lambda = lambda a,b: a+b
print("add_lambda",add_lambda(100,200))

add(100,200)

add_lambda 300
300

In [3]:
def odd_even(n):
    if n % 2 == 0:
        print("True")
    else:
        print("Flase")
    
odd_even_lambda = lambda n: "Even" if n % 2 == 0   else "Odd"
print("odd_even_lambda",odd_even_lambda(100))

odd_even_lambda Even

In [4]:
maxnum = lambda a,b : a if a>b else b
print(maxnum(5,10))

10

In [5]:
product = lambda a,b: a*b
a = int(input("Enter the input: "))
b = int(input("Enter the input: "))
print(product(a,b))

10000

In [6]:
s = sorted([(1,2),(10,20),(100,200),(500,750)], key = lambda i:i[1])
print(s)

[(1, 2), (10, 20), (100, 200), (500, 750)]

In [7]:
s = sorted([(100,450,123),(450,780,789),(450,850,100)],key = lambda i:i[-1])
print(s)

[(450, 850, 100), (100, 450, 123), (450, 780, 789)]

**Filter**

In [8]:
q = [1,2,3,4,5,6,7,8,9]
e = list(filter(lambda i : i % 2 == 0,q))

print(e)

[2, 4, 6, 8]

In [9]:
s = [1,0,2,0,3,0,4,0,5,0,6,0,7,0,8,0,9,0,0,0,0,0,0,0,1,2,3,5,4]

q = list(filter(lambda i : i != 0, s))

print(q)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 5, 4]

In [10]:
RCB = {
    'kohli':{'avilable':True,'price': 27,'age':34},
    'Starc':{'avilable':False,'price': 21,'age':35},
    'Maxwel':{'avilable':False,'price': 12,'age':30},
    'Rajat':{'avilable':True,'price': 21,'age':24},
    'Bhuvi':{'avilable':True,'price': 12,'age':31},
    'DInesh':{'avilable':False,'price': 8,'age':40}
}

s = list(filter(lambda i :RCB[i]['avilable'] ,RCB))
s1 = list(filter(lambda i : RCB[i]['price']>10, RCB))
s2 = list(filter(lambda i: RCB[i]['age']<35, RCB))
print(s)
print(s1)
print(s2)

['kohli', 'Rajat', 'Bhuvi']
['kohli', 'Starc', 'Maxwel', 'Rajat', 'Bhuvi']
['kohli', 'Maxwel', 'Rajat', 'Bhuvi']

In [11]:
l = list(map(int,input("Enter the list of the numbers: ").split()))

s = list(filter(lambda i: i % 2 == 0, l))
print(s)

[200]

In [12]:
l = ["Kohli","Rajat","Bhuvi","Starc","Jithesh"]

s = list(map(lambda i:i.upper(), l))
print(s)

['KOHLI', 'RAJAT', 'BHUVI', 'STARC', 'JITHESH']

In [15]:
l = ["Kohli" , "Salt" , "Rajat", "Padikkal" , "Jithesh" , "David" , "Livingstone"]

s = list(map(lambda x : len(x), l))
print(s)

[5, 4, 5, 8, 7, 5, 11]

**Reduce Function**

In [4]:
from functools import reduce
rcb = ['Kohli','Siraj','Rajat']
suma_all = reduce(lambda x,y: x+y, rcb)
print(suma_all)

KohliSirajRajat