In [2]:
import pandas as pd


prices = [3000, 148500, 20000, 32500, 45200]

products = ["Wireless Earphones","Iphone", "Smart Watch", "Mobile Phone", "Laptop"]

products_prices = pd.Series(prices,index= products)
print(products_prices)

Wireless Earphones      3000
Iphone                148500
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
dtype: int64

In [3]:
print("Mean:" ,products_prices.mean())

Mean: 49840.0

In [4]:
print("Sum:", products_prices.sum())

Sum: 249200

In [5]:
print("Max:", products_prices.max())

Max: 148500

In [6]:
print("Min:",products_prices.min())

Min: 3000

In [8]:
print("Head (First 3 elements):\n\n",products_prices.head(3))

Head (First 3 elements):

 Wireless Earphones      3000
Iphone                148500
Smart Watch            20000
dtype: int64

In [9]:
print("Tail (First 3 elements):\n \n", products_prices.tail(3))

Tail (First 3 elements):

 Smart Watch     20000
Mobile Phone    32500
Laptop          45200
dtype: int64

In [15]:
print("Apply the 18% gst to the Prices: \n", products_prices.apply(lambda x: f"₹{x * 0.18 + x}"))

Apply the 18% gst to the Prices:
 Wireless Earphones      ₹3540.0
Iphone                ₹175230.0
Smart Watch            ₹23600.0
Mobile Phone           ₹38350.0
Laptop                 ₹53336.0
dtype: object

In [18]:
print("Apply the 18% gst to the Prices: \n", products_prices.apply(lambda x: f"₹{x + (x*0.18)}"))

Apply the 18% gst to the Prices:
 Wireless Earphones      ₹3540.0
Iphone                ₹175230.0
Smart Watch            ₹23600.0
Mobile Phone           ₹38350.0
Laptop                 ₹53336.0
dtype: object

In [14]:
print("Map(Formatting as currency): \n", products_prices.map(lambda x: f"₹{x}"))

Map(Formatting as currency):
 Wireless Earphones      ₹3000
Iphone                ₹148500
Smart Watch            ₹20000
Mobile Phone           ₹32500
Laptop                 ₹45200
dtype: object

In [19]:
print("Sorting By Values: \n", products_prices.sort_values())

Sorting By Values:
 Wireless Earphones      3000
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
Iphone                148500
dtype: int64

In [20]:
print("Sorting By index: \n", products_prices.sort_index())

Sorting By index:
 Iphone                148500
Laptop                 45200
Mobile Phone           32500
Smart Watch            20000
Wireless Earphones      3000
dtype: int64

In [21]:
print(products_prices.sort_values(ascending=False))

Iphone                148500
Laptop                 45200
Mobile Phone           32500
Smart Watch            20000
Wireless Earphones      3000
dtype: int64

In [22]:
print(products_prices.sort_index(ascending=False))

Wireless Earphones      3000
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
Iphone                148500
dtype: int64

In [25]:
print("Vales: \n", products_prices.value_counts())

Vales:
 3000      1
148500    1
20000     1
32500     1
45200     1
Name: count, dtype: int64

**Data Frames**

In [27]:
data = {
    "Products" : ["Wireless Earbuds", "Smartphone", "Laptop", "SMartWatch", "Bluetooth speaker"],
    "Brand" : ["Soundmax", "TechNova", "Bytecore", "TimeTrack", "EchoBhoom"],
    "Price" : [2580, 32110, 75000, 3500, 4500],
    "Stock" : [50, 30, 20, 54, 35],
    "BestSeller" : [True, True, False, True, False] 
}


df = pd.DataFrame(data)

print(df)

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [30]:
print("The Head of the Data:\n", df.head(2))

The Head of the Data:
            Products     Brand  Price  Stock  BestSeller
0  Wireless Earbuds  Soundmax   2580     50        True
1        Smartphone  TechNova  32110     30        True

In [31]:
print("The Tail of the Data:\n", df.tail(2))

The Tail of the Data:
             Products      Brand  Price  Stock  BestSeller
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [34]:
print("The Shape of the DatFrame:\n", df.shape)

The Shape of the DatFrame:
 (5, 5)

In [42]:
print("The Columns in DataFrame: \n", df.columns)

The Columns in DataFrame:
 Index(['Products', 'Brand', 'Price', 'Stock', 'BestSeller'], dtype='object')

In [43]:
print("The Index of the DataFrame: \n", df.index)

The Index of the DataFrame:
 RangeIndex(start=0, stop=5, step=1)

In [45]:
print("The Information of the DataFrame: \n", df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Products    5 non-null      object
 1   Brand       5 non-null      object
 2   Price       5 non-null      int64
 3   Stock       5 non-null      int64
 4   BestSeller  5 non-null      bool
dtypes: bool(1), int64(2), object(2)
memory usage: 297.0+ bytes
The Information of the DataFrame:
 None

In [48]:
print("Stastical Info: \n", df.describe())

Stastical Info:
               Price      Stock
count      5.000000   5.000000
mean   23538.000000  37.800000
std    31324.995132  14.113823
min     2580.000000  20.000000
25%     3500.000000  30.000000
50%     4500.000000  35.000000
75%    32110.000000  50.000000
max    75000.000000  54.000000

In [ ]:
print(df)

print("\n")

print(df.loc[1, "Products"])

print("\n")

print(df.loc[4, "Brand"])

print("\n")

print(df.loc[2, "BestSeller"])

print("\n")

print(df.iloc[1,4])

print("\n")

print(df.iloc[4,4])

print("\n")

print(df.iloc[2,2])

print("\n")

print(df.iloc[1, 3])

print("\n")

print(df.iloc[4])

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False


Smartphone


EchoBhoom


False


True


False


75000


30


Products      Bluetooth speaker
Brand                 EchoBhoom
Price                      4500
Stock                        35
BestSeller                False
Name: 4, dtype: object

In [101]:
print(df)
print("*" * 60)
print("\n")
print("Using loc (selecting rows where Price < 4000):\n", df.loc[df["Price"] < 4000])
print("\n")
print("*" * 60)
print("Selecting the Stock which are greater than the 20: \n", df.loc[df["Stock"] > 20])
print("\n")
print("*" * 60)
print("Selecting the best Seller \n", df.loc[df["BestSeller"] == True])
print("\n")
print("*" * 60)

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False
************************************************************


Using loc (selecting rows where Price < 4000):
            Products      Brand  Price  Stock  BestSeller
0  Wireless Earbuds   Soundmax   2580     50        True
3        SMartWatch  TimeTrack   3500     54        True


************************************************************
Selecting the Stock which are greater than the 20:
             Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False


************************************************************
Selecting the best Seller
            Products      Brand  Price  Stock  BestSeller
0  Wireless Earbuds   Soundmax   2580     50        True
1        Smartphone   TechNova  32110     30        True
3        SMartWatch  TimeTrack   3500     54        True


************************************************************

In [4]:
import pandas as pd


data = {
    "Products" : ["Wireless Earbuds", "Smartphone", "Laptop", "SMartWatch", "Bluetooth speaker"],
    "Brand" : ["Soundmax", "TechNova", "Bytecore", "TimeTrack", "EchoBhoom"],
    "Price" : [2580, 32110, 75000, 3500, 4500],
    "Stock" : [50, 30, 20, 54, 35],
    "BestSeller" : [True, True, False, True, False] 
}

df = pd.DataFrame(data)

print(df)

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [ ]:
print("Before",df)
print("\n")
df_dropped = df.drop(columns=["Stock"])
print("After Dropping 'stock' column: \n", df_dropped)
print("\n")
print("After df:",df)

Before             Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False


After Dropping 'stock' column:
             Products      Brand  Price  BestSeller
0   Wireless Earbuds   Soundmax   2580        True
1         Smartphone   TechNova  32110        True
2             Laptop   Bytecore  75000       False
3         SMartWatch  TimeTrack   3500        True
4  Bluetooth speaker  EchoBhoom   4500       False


After df:             Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [ ]:
print("Before",df)
print("\n")
df_dropped = df.drop(columns=["Stock"],inplace = "True")
print("After Dropping 'stock' column: \n", df_dropped)
print("\n")
print("After df:",df)

In [20]:
df_renammed = df.rename(columns = {'Price':'MRP'})
print("After Remaining 'Price to MRP': \n", df_renammed)
print("\n")
df.rename(columns = {"Product name": "Product"}, inplace = True)
print(df)

After Remaining 'Price to MRP':
             Products      Brand    MRP  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False


            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [19]:
print(df)

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [ ]:
df_grouped = df.groupby("Brand").agg({"Price":"sum", "Stock":"sum"})
print(df)
print("\n")
print(df_grouped)

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False


           Price  Stock
Brand
Bytecore   75000     20
EchoBhoom   4500     35
Soundmax    2580     50
TechNova   32110     30
TimeTrack   3500     54

In [29]:
df_group = df.groupby("Brand").agg({"Price":["mean","max","min"]})

print(df_group)

             Price
              mean    max    min
Brand
Bytecore   75000.0  75000  75000
EchoBhoom   4500.0   4500   4500
Soundmax    2580.0   2580   2580
TechNova   32110.0  32110  32110
TimeTrack   3500.0   3500   3500

In [30]:
grouped = df.groupby("Brand")["Price"].mean()

print(grouped)

Brand
Bytecore     75000.0
EchoBhoom     4500.0
Soundmax      2580.0
TechNova     32110.0
TimeTrack     3500.0
Name: Price, dtype: float64

In [35]:
data2 = {
    "Brand" : ["Soundmax", "TechNova", "Bytecore", "TimeTrack", "EchoBhoom"],
    "Rating" : [4.2, 4.5, 4.0, 4.1, 3.9],
    "Discount" : [18, 50, 56, 28, 10]
}

df_ratings = pd.DataFrame(data2)
print(df_ratings)

       Brand  Rating  Discount
0   Soundmax     4.2        18
1   TechNova     4.5        50
2   Bytecore     4.0        56
3  TimeTrack     4.1        28
4  EchoBhoom     3.9        10

In [36]:
df_merge = df.merge(df_ratings, on = "Brand")
print(df_merge)

            Products      Brand  Price  Stock  BestSeller  Rating  Discount
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10

In [40]:
print(df)

            Products      Brand  Price  Stock  BestSeller  Rating  Discount
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10

In [ ]:
import pandas as pd

new_data = {
    "Products" : "Tablet",
    "Brand" : "Apple",
    "Price" : 45000,
    "Stock" : 75,
    "BestSeller" : True,
    "Rating" : 4.1,
    "Discount" : 18
}

df_new = pd.DataFrame([new_data])  
print(df_new)

  Products  Brand  Price  Stock  BestSeller  Rating  Discount
0   Tablet  Apple  45000     75        True     4.1        18

In [56]:
df_concat = pd.concat([df, df_new], ignore_index=True)
print(df_concat)
print("*"*80)
df = df_concat
print(df)

            Products      Brand  Price  Stock  BestSeller  Rating  Discount
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
5             Tablet      Apple  45000     75        True     4.1        18
6             Tablet      Apple  45000     75        True     4.1        18
********************************************************************************
            Products      Brand  Price  Stock  BestSeller  Rating  Discount
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
5             Tablet      Apple  45000     75        True     4.1        18
6             Tablet      Apple  45000     75        True     4.1        18

In [54]:
print(df["Products"])

0     Wireless Earbuds
1           Smartphone
2               Laptop
3           SMartWatch
4    Bluetooth speaker
5               Tablet
Name: Products, dtype: object

In [59]:
print(df[["Products","Brand","Stock","Discount"]])

            Products      Brand  Stock  Discount
0   Wireless Earbuds   Soundmax     50        18
1         Smartphone   TechNova     30        50
2             Laptop   Bytecore     20        56
3         SMartWatch  TimeTrack     54        28
4  Bluetooth speaker  EchoBhoom     35        10
5             Tablet      Apple     75        18
6             Tablet      Apple     75        18

In [61]:
df["Price"] = df["Price"].astype(float)
print(df)

            Products      Brand    Price  Stock  BestSeller  Rating  Discount
0   Wireless Earbuds   Soundmax   2580.0     50        True     4.2        18
1         Smartphone   TechNova  32110.0     30        True     4.5        50
2             Laptop   Bytecore  75000.0     20       False     4.0        56
3         SMartWatch  TimeTrack   3500.0     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500.0     35       False     3.9        10
5             Tablet      Apple  45000.0     75        True     4.1        18
6             Tablet      Apple  45000.0     75        True     4.1        18

In [62]:
df["Price"] = df["Price"].astype(int)

print(df)

            Products      Brand  Price  Stock  BestSeller  Rating  Discount
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
5             Tablet      Apple  45000     75        True     4.1        18
6             Tablet      Apple  45000     75        True     4.1        18

In [64]:
df["Rank"] = df["Price"].rank(ascending = False )
print(df)
print(df.sort_values(by = "Rank", ascending = False))
print(df.sort_values(by = "Rank", ascending = True))

            Products      Brand  Price  Stock  BestSeller  Rating  Discount  \
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
5             Tablet      Apple  45000     75        True     4.1        18
6             Tablet      Apple  45000     75        True     4.1        18

   Rank
0   7.0
1   4.0
2   1.0
3   6.0
4   5.0
5   2.5
6   2.5
            Products      Brand  Price  Stock  BestSeller  Rating  Discount  \
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
1         Smartphone   TechNova  32110     30        True     4.5        50
5             Tablet      Apple  45000     75        True     4.1        18
6             Tablet      Apple  45000     75        True     4.1        18
2             Laptop   Bytecore  75000     20       False     4.0        56

   Rank
0   7.0
3   6.0
4   5.0
1   4.0
5   2.5
6   2.5
2   1.0
            Products      Brand  Price  Stock  BestSeller  Rating  Discount  \
2             Laptop   Bytecore  75000     20       False     4.0        56
5             Tablet      Apple  45000     75        True     4.1        18
6             Tablet      Apple  45000     75        True     4.1        18
1         Smartphone   TechNova  32110     30        True     4.5        50
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18

   Rank
2   1.0
5   2.5
6   2.5
1   4.0
4   5.0
3   6.0
0   7.0

In [65]:
print(df)

            Products      Brand  Price  Stock  BestSeller  Rating  Discount  \
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
5             Tablet      Apple  45000     75        True     4.1        18
6             Tablet      Apple  45000     75        True     4.1        18

   Rank
0   7.0
1   4.0
2   1.0
3   6.0
4   5.0
5   2.5
6   2.5

In [66]:
df["Rank"] = df["Price"].rank(ascending=True)
print(df)

            Products      Brand  Price  Stock  BestSeller  Rating  Discount  \
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
5             Tablet      Apple  45000     75        True     4.1        18
6             Tablet      Apple  45000     75        True     4.1        18

   Rank
0   1.0
1   4.0
2   7.0
3   2.0
4   3.0
5   5.5
6   5.5

In [67]:
df = df.drop(6).reset_index(drop=True)
print(df)

            Products      Brand  Price  Stock  BestSeller  Rating  Discount  \
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
5             Tablet      Apple  45000     75        True     4.1        18

   Rank
0   1.0
1   4.0
2   7.0
3   2.0
4   3.0
5   5.5

In [72]:
import pandas as pd

df1 = pd.DataFrame({
    "ID":[1,2],
    "Name" : ["Alice","Bob"],
    "Age" : [25,30]
})

df2 = pd.DataFrame({
    "ID":[3,4],
    "Name":["Charlie","David"],
    "Age" : [25,30]
})

df_combined = pd.concat([df1,df2], axis = 0)
# df_combined = pd.concat([df1, df2], axis=1)
print(df_combined)

print("\n")
# print(df_combined)

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
0   3  Charlie   25
1   4    David   30

In [81]:
print(df)

            Products      Brand  Price  Stock  BestSeller  Rating  Discount
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
5             Tablet      Apple  45000     75        True     4.1        18

In [1]:
pivot_table = df.pivot_table(index="Brand", values="Price", columns ="Stock", aggfunc="mean")
print(pivot_table)

NameError: name 'df' is not defined

In [84]:
print(df)

            Products      Brand  Price  Stock  BestSeller  Rating  Discount
0   Wireless Earbuds   Soundmax   2580     50        True     4.2        18
1         Smartphone   TechNova  32110     30        True     4.5        50
2             Laptop   Bytecore  75000     20       False     4.0        56
3         SMartWatch  TimeTrack   3500     54        True     4.1        28
4  Bluetooth speaker  EchoBhoom   4500     35       False     3.9        10
5             Tablet      Apple  45000     75        True     4.1        18

In [83]:
pd.crosstab(df["Brand"],df["Stock"])

Stock      20  30  35  50  54  75
Brand
Apple       0   0   0   0   0   1
Bytecore    1   0   0   0   0   0
EchoBhoom   0   0   1   0   0   0
Soundmax    0   0   0   1   0   0
TechNova    0   1   0   0   0   0
TimeTrack   0   0   0   0   1   0

In [5]:
import pandas as pd


data = {
    "Products" : ["Wireless Earbuds", "Smartphone", "Laptop", "SMartWatch", "Bluetooth speaker"],
    "Brand" : ["Soundmax", "TechNova", "Bytecore", "TimeTrack", "EchoBhoom"],
    "Price" : [2580, 32110, 75000, 3500, 4500],
    "Stock" : [50, 30, 20, 54, 35],
    "BestSeller" : [True, True, False, True, False] 
}

df = pd.DataFrame(data)

print(df)

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [15]:
import pandas as pd

data = {
    "Purchase Date": ["2024-01-15", "2024-01-20", "2024-02-05", "2024-02-18", "2024-03-10"],
    "Product" : ["Laptop","Smartphone","Tablet","Smartwatch","Headphones"],
    "Prices" : [50000,30000,20000,15000,5000],
    "Quantity" : [2, 1, 3, 2, 4]
}

df_sales = pd.DataFrame(data)

print(df_sales)

  Purchase Date     Product  Prices  Quantity
0    2024-01-15      Laptop   50000         2
1    2024-01-20  Smartphone   30000         1
2    2024-02-05      Tablet   20000         3
3    2024-02-18  Smartwatch   15000         2
4    2024-03-10  Headphones    5000         4

In [7]:
print(df)

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [8]:
print(df_sales)

  Purchase Date     Product  Prices  Quantity
0    2024-01-15      Laptop   50000         2
1    2024-01-20  Smartphone   30000         1
2    2024-02-05      Tablet   20000         3
3    2024-02-18  Smartwatch   15000         2
4    2024-03-10  Headphones    5000         4

In [ ]:
import pandas as pd

data = {
    "Purchase Date": ["2024-01-15", "2024-01-20", "2024-02-05", "2024-02-18", "2024-03-10"],
    "Product" : ["Laptop","Smartphone","Tablet","Smartwatch","Headphones"],
    "Prices" : [50000,30000,20000,15000,5000],
    "Quantity" : [2, 1, 3, 2, 4]
}

df_sales = pd.DataFrame(data)

In [28]:
df_sales["Purchase Date"] = pd.to_datetime(df_sales["Purchase Date"])

df_sales.set_index("Purchase Date", inplace=True)

daily_avg = df_sales.resample("D").mean(numeric_only=True)

print(daily_avg.head(15))

KeyError: 'Purchase Date'

In [24]:
weekly_avg = df_sales.resample("W").mean(numeric_only=True)


print("\n ----weekly---- Average")

print(weekly_avg)

 ----weekly---- Average
                Prices  Quantity
Purchase Date
2024-01-21     40000.0       1.5
2024-01-28         NaN       NaN
2024-02-04         NaN       NaN
2024-02-11     20000.0       3.0
2024-02-18     15000.0       2.0
2024-02-25         NaN       NaN
2024-03-03         NaN       NaN
2024-03-10      5000.0       4.0

In [23]:
Monthly_avg = df_sales.resample("M").mean(numeric_only=True)


print("\n ----Monthly---- Average")

print(Monthly_avg)

 ----Monthly---- Average
                Prices  Quantity
Purchase Date
2024-01-31     40000.0       1.5
2024-02-29     17500.0       2.5
2024-03-31      5000.0       4.0

C:\Users\V SHANMUKH\AppData\Local\Temp\ipykernel_66160\3937554009.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  Monthly_avg = df_sales.resample("M").mean(numeric_only=True)

In [22]:
Quaterly_avg = df_sales.resample("Q").mean(numeric_only=True)

print("\n ----Quaterly---- Average")

print(Quaterly_avg)

 ----Quaterly---- Average
                Prices  Quantity
Purchase Date
2024-03-31     24000.0       2.4

C:\Users\V SHANMUKH\AppData\Local\Temp\ipykernel_66160\2767022152.py:1: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  Quaterly_avg = df_sales.resample("Q").mean(numeric_only=True)

In [21]:
Yearly_avg = df_sales.resample("Y").mean(numeric_only=True)

print("\n ----Yearly---- Average")

print(Yearly_avg)

 ----Yearly---- Average
                Prices  Quantity
Purchase Date
2024-12-31     24000.0       2.4

C:\Users\V SHANMUKH\AppData\Local\Temp\ipykernel_66160\1076390496.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  Yearly_avg = df_sales.resample("Y").mean(numeric_only=True)

In [32]:
import pandas as pd

import numpy as np 


data = {
    "A" : [1, 2, np.nan, 4, 5],
    "B" : [np.nan, 2, 3, np.nan, 5],
    "C" : [10, np.nan, np.nan, 40, 50]
}


df = pd.DataFrame(data)
print("Original DatFrame with Missing Values")
print(df)

Original DatFrame with Missing Values
     A    B     C
0  1.0  NaN  10.0
1  2.0  2.0   NaN
2  NaN  3.0   NaN
3  4.0  NaN  40.0
4  5.0  5.0  50.0

In [35]:
df_interpolate = df.interpolate()
print("\n Data Frame after filling NaN using interpolation")
print(df_interpolate)

 Data Frame after filling NaN using interpolation
     A    B     C
0  1.0  NaN  10.0
1  2.0  2.0  20.0
2  3.0  3.0  30.0
3  4.0  4.0  40.0
4  5.0  5.0  50.0

In [34]:
df_dropno = df.dropna()

print(df_dropno)

     A    B     C
4  5.0  5.0  50.0

In [36]:
df_fillna = df.fillna(5)

print(df_fillna)

     A    B     C
0  1.0  5.0  10.0
1  2.0  2.0   5.0
2  5.0  3.0   5.0
3  4.0  5.0  40.0
4  5.0  5.0  50.0

In [38]:
from google.collab import files

uploading = files.upload()

ModuleNotFoundError: No module named 'google'

In [37]:
import pandas as pd

df = pd.read_csv("dsad.csv")
print(df.tail(2))

FileNotFoundError: [Errno 2] No such file or directory: 'dsad.csv'