In [2]:
import pandas as pd


prices = [3000, 148500, 20000, 32500, 45200]

products = ["Wireless Earphones","Iphone", "Smart Watch", "Mobile Phone", "Laptop"]

products_prices = pd.Series(prices,index= products)
print(products_prices)

Wireless Earphones      3000
Iphone                148500
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
dtype: int64

In [3]:
print("Mean:" ,products_prices.mean())

Mean: 49840.0

In [4]:
print("Sum:", products_prices.sum())

Sum: 249200

In [5]:
print("Max:", products_prices.max())

Max: 148500

In [6]:
print("Min:",products_prices.min())

Min: 3000

In [8]:
print("Head (First 3 elements):\n\n",products_prices.head(3))

Head (First 3 elements):

 Wireless Earphones      3000
Iphone                148500
Smart Watch            20000
dtype: int64

In [9]:
print("Tail (First 3 elements):\n \n", products_prices.tail(3))

Tail (First 3 elements):

 Smart Watch     20000
Mobile Phone    32500
Laptop          45200
dtype: int64

In [15]:
print("Apply the 18% gst to the Prices: \n", products_prices.apply(lambda x: f"₹{x * 0.18 + x}"))

Apply the 18% gst to the Prices:
 Wireless Earphones      ₹3540.0
Iphone                ₹175230.0
Smart Watch            ₹23600.0
Mobile Phone           ₹38350.0
Laptop                 ₹53336.0
dtype: object

In [18]:
print("Apply the 18% gst to the Prices: \n", products_prices.apply(lambda x: f"₹{x + (x*0.18)}"))

Apply the 18% gst to the Prices:
 Wireless Earphones      ₹3540.0
Iphone                ₹175230.0
Smart Watch            ₹23600.0
Mobile Phone           ₹38350.0
Laptop                 ₹53336.0
dtype: object

In [14]:
print("Map(Formatting as currency): \n", products_prices.map(lambda x: f"₹{x}"))

Map(Formatting as currency):
 Wireless Earphones      ₹3000
Iphone                ₹148500
Smart Watch            ₹20000
Mobile Phone           ₹32500
Laptop                 ₹45200
dtype: object

In [19]:
print("Sorting By Values: \n", products_prices.sort_values())

Sorting By Values:
 Wireless Earphones      3000
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
Iphone                148500
dtype: int64

In [20]:
print("Sorting By index: \n", products_prices.sort_index())

Sorting By index:
 Iphone                148500
Laptop                 45200
Mobile Phone           32500
Smart Watch            20000
Wireless Earphones      3000
dtype: int64

In [21]:
print(products_prices.sort_values(ascending=False))

Iphone                148500
Laptop                 45200
Mobile Phone           32500
Smart Watch            20000
Wireless Earphones      3000
dtype: int64

In [22]:
print(products_prices.sort_index(ascending=False))

Wireless Earphones      3000
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
Iphone                148500
dtype: int64

In [25]:
print("Vales: \n", products_prices.value_counts())

Vales:
 3000      1
148500    1
20000     1
32500     1
45200     1
Name: count, dtype: int64

**Data Frames**

In [27]:
data = {
    "Products" : ["Wireless Earbuds", "Smartphone", "Laptop", "SMartWatch", "Bluetooth speaker"],
    "Brand" : ["Soundmax", "TechNova", "Bytecore", "TimeTrack", "EchoBhoom"],
    "Price" : [2580, 32110, 75000, 3500, 4500],
    "Stock" : [50, 30, 20, 54, 35],
    "BestSeller" : [True, True, False, True, False] 
}


df = pd.DataFrame(data)

print(df)

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [30]:
print("The Head of the Data:\n", df.head(2))

The Head of the Data:
            Products     Brand  Price  Stock  BestSeller
0  Wireless Earbuds  Soundmax   2580     50        True
1        Smartphone  TechNova  32110     30        True

In [31]:
print("The Tail of the Data:\n", df.tail(2))

The Tail of the Data:
             Products      Brand  Price  Stock  BestSeller
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False

In [34]:
print("The Shape of the DatFrame:\n", df.shape)

The Shape of the DatFrame:
 (5, 5)

In [42]:
print("The Columns in DataFrame: \n", df.columns)

The Columns in DataFrame:
 Index(['Products', 'Brand', 'Price', 'Stock', 'BestSeller'], dtype='object')

In [43]:
print("The Index of the DataFrame: \n", df.index)

The Index of the DataFrame:
 RangeIndex(start=0, stop=5, step=1)

In [45]:
print("The Information of the DataFrame: \n", df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Products    5 non-null      object
 1   Brand       5 non-null      object
 2   Price       5 non-null      int64
 3   Stock       5 non-null      int64
 4   BestSeller  5 non-null      bool
dtypes: bool(1), int64(2), object(2)
memory usage: 297.0+ bytes
The Information of the DataFrame:
 None

In [48]:
print("Stastical Info: \n", df.describe())

Stastical Info:
               Price      Stock
count      5.000000   5.000000
mean   23538.000000  37.800000
std    31324.995132  14.113823
min     2580.000000  20.000000
25%     3500.000000  30.000000
50%     4500.000000  35.000000
75%    32110.000000  50.000000
max    75000.000000  54.000000

In [ ]:
print(df)

print("\n")

print(df.loc[1, "Products"])

print("\n")

print(df.loc[4, "Brand"])

print("\n")

print(df.loc[2, "BestSeller"])

print("\n")

print(df.iloc[1,4])

print("\n")

print(df.iloc[4,4])

print("\n")

print(df.iloc[2,2])

print("\n")

print(df.iloc[1, 3])

print("\n")

print(df.iloc[4])

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False


Smartphone


EchoBhoom


False


True


False


75000


30


Products      Bluetooth speaker
Brand                 EchoBhoom
Price                      4500
Stock                        35
BestSeller                False
Name: 4, dtype: object

In [101]:
print(df)
print("*" * 60)
print("\n")
print("Using loc (selecting rows where Price < 4000):\n", df.loc[df["Price"] < 4000])
print("\n")
print("*" * 60)
print("Selecting the Stock which are greater than the 20: \n", df.loc[df["Stock"] > 20])
print("\n")
print("*" * 60)
print("Selecting the best Seller \n", df.loc[df["BestSeller"] == True])
print("\n")
print("*" * 60)

            Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
2             Laptop   Bytecore  75000     20       False
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False
************************************************************


Using loc (selecting rows where Price < 4000):
            Products      Brand  Price  Stock  BestSeller
0  Wireless Earbuds   Soundmax   2580     50        True
3        SMartWatch  TimeTrack   3500     54        True


************************************************************
Selecting the Stock which are greater than the 20:
             Products      Brand  Price  Stock  BestSeller
0   Wireless Earbuds   Soundmax   2580     50        True
1         Smartphone   TechNova  32110     30        True
3         SMartWatch  TimeTrack   3500     54        True
4  Bluetooth speaker  EchoBhoom   4500     35       False


************************************************************
Selecting the best Seller
            Products      Brand  Price  Stock  BestSeller
0  Wireless Earbuds   Soundmax   2580     50        True
1        Smartphone   TechNova  32110     30        True
3        SMartWatch  TimeTrack   3500     54        True


************************************************************