In [2]:
import pandas as pd


prices = [3000, 148500, 20000, 32500, 45200]

products = ["Wireless Earphones","Iphone", "Smart Watch", "Mobile Phone", "Laptop"]

products_prices = pd.Series(prices,index= products)
print(products_prices)

Wireless Earphones      3000
Iphone                148500
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
dtype: int64

In [3]:
print("Mean:" ,products_prices.mean())

Mean: 49840.0

In [4]:
print("Sum:", products_prices.sum())

Sum: 249200

In [5]:
print("Max:", products_prices.max())

Max: 148500

In [6]:
print("Min:",products_prices.min())

Min: 3000

In [8]:
print("Head (First 3 elements):\n\n",products_prices.head(3))

Head (First 3 elements):

 Wireless Earphones      3000
Iphone                148500
Smart Watch            20000
dtype: int64

In [9]:
print("Tail (First 3 elements):\n \n", products_prices.tail(3))

Tail (First 3 elements):

 Smart Watch     20000
Mobile Phone    32500
Laptop          45200
dtype: int64

In [15]:
print("Apply the 18% gst to the Prices: \n", products_prices.apply(lambda x: f"₹{x * 0.18 + x}"))

Apply the 18% gst to the Prices:
 Wireless Earphones      ₹3540.0
Iphone                ₹175230.0
Smart Watch            ₹23600.0
Mobile Phone           ₹38350.0
Laptop                 ₹53336.0
dtype: object

In [18]:
print("Apply the 18% gst to the Prices: \n", products_prices.apply(lambda x: f"₹{x + (x*0.18)}"))

Apply the 18% gst to the Prices:
 Wireless Earphones      ₹3540.0
Iphone                ₹175230.0
Smart Watch            ₹23600.0
Mobile Phone           ₹38350.0
Laptop                 ₹53336.0
dtype: object

In [14]:
print("Map(Formatting as currency): \n", products_prices.map(lambda x: f"₹{x}"))

Map(Formatting as currency):
 Wireless Earphones      ₹3000
Iphone                ₹148500
Smart Watch            ₹20000
Mobile Phone           ₹32500
Laptop                 ₹45200
dtype: object

In [19]:
print("Sorting By Values: \n", products_prices.sort_values())

Sorting By Values:
 Wireless Earphones      3000
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
Iphone                148500
dtype: int64

In [20]:
print("Sorting By index: \n", products_prices.sort_index())

Sorting By index:
 Iphone                148500
Laptop                 45200
Mobile Phone           32500
Smart Watch            20000
Wireless Earphones      3000
dtype: int64

In [21]:
print(products_prices.sort_values(ascending=False))

Iphone                148500
Laptop                 45200
Mobile Phone           32500
Smart Watch            20000
Wireless Earphones      3000
dtype: int64

In [22]:
print(products_prices.sort_index(ascending=False))

Wireless Earphones      3000
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
Iphone                148500
dtype: int64