In [3]:
def calc_sum(a,b):
    sum = a + b
    return sum
calc_sum(20,30)

50

In [4]:
def mul(a,b,c):
    product = a*b*c
    return product
mul(10,20,30)

6000

In [5]:
def remainder(a,b):
    re = a % b
    return re
remainder(100,200)

100

In [9]:
# Divisor = (Dividend-Remainder)//quotient
# Dividend = Divisor * quotient + Remainder
# Remainder = Dividend - (quotient*divisor)
# quotient = (dividend - remainder)//Divisor
def all(a,b):
    Re = a % b
    D = a // b
    return Re,D
all(1000,2000)

(1000, 0)

In [12]:
def table(n):
    for i in range(n+1):
        
        print(f'{n} X {i} = {i*n}')
table(10)
table(22)
table(44)
table(78)

10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
22 X 0 = 0
22 X 1 = 22
22 X 2 = 44
22 X 3 = 66
22 X 4 = 88
22 X 5 = 110
22 X 6 = 132
22 X 7 = 154
22 X 8 = 176
22 X 9 = 198
22 X 10 = 220
22 X 11 = 242
22 X 12 = 264
22 X 13 = 286
22 X 14 = 308
22 X 15 = 330
22 X 16 = 352
22 X 17 = 374
22 X 18 = 396
22 X 19 = 418
22 X 20 = 440
22 X 21 = 462
22 X 22 = 484
44 X 0 = 0
44 X 1 = 44
44 X 2 = 88
44 X 3 = 132
44 X 4 = 176
44 X 5 = 220
44 X 6 = 264
44 X 7 = 308
44 X 8 = 352
44 X 9 = 396
44 X 10 = 440
44 X 11 = 484
44 X 12 = 528
44 X 13 = 572
44 X 14 = 616
44 X 15 = 660
44 X 16 = 704
44 X 17 = 748
44 X 18 = 792
44 X 19 = 836
44 X 20 = 880
44 X 21 = 924
44 X 22 = 968
44 X 23 = 1012
44 X 24 = 1056
44 X 25 = 1100
44 X 26 = 1144
44 X 27 = 1188
44 X 28 = 1232
44 X 29 = 1276
44 X 30 = 1320
44 X 31 = 1364
44 X 32 = 1408
44 X 33 = 1452
44 X 34 = 1496
44 X 35 = 1540
44 X 36 = 1584
44 X 37 = 1628
44 X 38 = 1672
44 X 39 = 1716
44 X 40 = 1760
44 X 41 = 1804
44 X 42 = 1848
44 X 43 = 1892
44 X 44 = 1936
78 X 0 = 0
78 X 1 = 78
78 X 2 = 156
78 X 3 = 234
78 X 4 = 312
78 X 5 = 390
78 X 6 = 468
78 X 7 = 546
78 X 8 = 624
78 X 9 = 702
78 X 10 = 780
78 X 11 = 858
78 X 12 = 936
78 X 13 = 1014
78 X 14 = 1092
78 X 15 = 1170
78 X 16 = 1248
78 X 17 = 1326
78 X 18 = 1404
78 X 19 = 1482
78 X 20 = 1560
78 X 21 = 1638
78 X 22 = 1716
78 X 23 = 1794
78 X 24 = 1872
78 X 25 = 1950
78 X 26 = 2028
78 X 27 = 2106
78 X 28 = 2184
78 X 29 = 2262
78 X 30 = 2340
78 X 31 = 2418
78 X 32 = 2496
78 X 33 = 2574
78 X 34 = 2652
78 X 35 = 2730
78 X 36 = 2808
78 X 37 = 2886
78 X 38 = 2964
78 X 39 = 3042
78 X 40 = 3120
78 X 41 = 3198
78 X 42 = 3276
78 X 43 = 3354
78 X 44 = 3432
78 X 45 = 3510
78 X 46 = 3588
78 X 47 = 3666
78 X 48 = 3744
78 X 49 = 3822
78 X 50 = 3900
78 X 51 = 3978
78 X 52 = 4056
78 X 53 = 4134
78 X 54 = 4212
78 X 55 = 4290
78 X 56 = 4368
78 X 57 = 4446
78 X 58 = 4524
78 X 59 = 4602
78 X 60 = 4680
78 X 61 = 4758
78 X 62 = 4836
78 X 63 = 4914
78 X 64 = 4992
78 X 65 = 5070
78 X 66 = 5148
78 X 67 = 5226
78 X 68 = 5304
78 X 69 = 5382
78 X 70 = 5460
78 X 71 = 5538
78 X 72 = 5616
78 X 73 = 5694
78 X 74 = 5772
78 X 75 = 5850
78 X 76 = 5928
78 X 77 = 6006
78 X 78 = 6084

**AVG of three numbers**

In [3]:
def calc_avg(a, b, c):
    avg = (a + b + c) / 3
    return avg

a, b, c = map(int, input().split())
print(calc_avg(a, b, c))

20.0

**Length of list using a function**

In [23]:
def length(li):
    return len(li)

li = list(map(int,input().split()))
print("The Lenght of the List Li is :",length(li))

The Lenght of the List Li is : 1

**Printing the elements in the list in a single line**

In [5]:
def List_single_line(li):
    for i in li:
        print(i,end = " ")
    return 
li = list(map(int,input().split()))
List_single_line(li)

1 2 3 4 5 6 7 8 9 9 8 7 4 5 6 1 2 3

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

n = int(input("Enter the number: "))
print(factorial(n))

120

**Conversion of USD to INR**

In [13]:
def Currency(n):
    return n * 85.9

n = int(input("Enter the number: "))
print(f'Converted amount:{Currency(n)}')

Converted amount:300650.0

**Even or ODD**

In [15]:
def check(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"

n = int(input("Enter the Number: "))
print("The Given Number is a:",check(n))

The Given Number is a: Odd

**Recursions**

In [18]:
def show(n):
    if n == 0:
        return 0
    else:
        print(n)
        show(n-1)

n = int(input("Enter the Number: "))
show(n)

10
9
8
7
6
5
4
3
2
1

**Factorial**

In [20]:
def fact(n):
    if n == 0 or n ==1:
        return 1
    else:
        return n * fact(n-1)

n = int(input("Enter the input: "))
print(fact(n))

24