In [2]:
import pandas as pd

Employees = [
    {"EmpID": 1, "Name": "Anita", "Department": "HR", "Salary": 45000, "JoiningDate": "2020-03-01", "City": "Bangalore", "Experience": 4},
    {"EmpID": 2, "Name": "Ravi", "Department": "IT", "Salary": 60000, "JoiningDate": "2019-07-15", "City": "Hyderabad", "Experience": 5},
    {"EmpID": 3, "Name": "Meera", "Department": "Finance", "Salary": 52000, "JoiningDate": "2021-01-10", "City": "Chennai", "Experience": 3},
    {"EmpID": 4, "Name": "Arjun", "Department": "IT", "Salary": 75000, "JoiningDate": "2018-11-20", "City": "Bangalore", "Experience": 6},
    {"EmpID": 5, "Name": "Lakshmi", "Department": "Marketing", "Salary": 48000, "JoiningDate": "2022-06-12", "City": "Pune", "Experience": 2},
    {"EmpID": 6, "Name": "Kiran", "Department": "Finance", "Salary": 50000, "JoiningDate": "2020-09-05", "City": "Delhi", "Experience": 4},
    {"EmpID": 7, "Name": "Sneha", "Department": "HR", "Salary": 47000, "JoiningDate": "2021-04-17", "City": "Mumbai", "Experience": 3},
    {"EmpID": 8, "Name": "Manoj", "Department": "IT", "Salary": 82000, "JoiningDate": "2017-05-14", "City": "Hyderabad", "Experience": 8},
    {"EmpID": 9, "Name": "Divya", "Department": "Finance", "Salary": 54000, "JoiningDate": "2021-09-22", "City": "Chennai", "Experience": 3},
    {"EmpID": 10, "Name": "Rahul", "Department": "Marketing", "Salary": 51000, "JoiningDate": "2019-04-19", "City": "Delhi", "Experience": 5},
    {"EmpID": 11, "Name": "Nisha", "Department": "HR", "Salary": 46000, "JoiningDate": "2020-08-11", "City": "Pune", "Experience": 4},
    {"EmpID": 12, "Name": "Varun", "Department": "IT", "Salary": 70000, "JoiningDate": "2016-12-01", "City": "Bangalore", "Experience": 9},
    {"EmpID": 13, "Name": "Pooja", "Department": "Finance", "Salary": 58000, "JoiningDate": "2019-03-23", "City": "Hyderabad", "Experience": 5},
    {"EmpID": 14, "Name": "Aakash", "Department": "IT", "Salary": 64000, "JoiningDate": "2022-01-17", "City": "Chennai", "Experience": 2},
    {"EmpID": 15, "Name": "Rohit", "Department": "Marketing", "Salary": 49000, "JoiningDate": "2020-07-09", "City": "Delhi", "Experience": 3},
    {"EmpID": 16, "Name": "Kavya", "Department": "Finance", "Salary": 61000, "JoiningDate": "2018-05-28", "City": "Mumbai", "Experience": 6},
    {"EmpID": 17, "Name": "Ajay", "Department": "IT", "Salary": 85000, "JoiningDate": "2015-10-15", "City": "Hyderabad", "Experience": 10},
    {"EmpID": 18, "Name": "Neha", "Department": "HR", "Salary": 48000, "JoiningDate": "2021-06-30", "City": "Chennai", "Experience": 2},
    {"EmpID": 19, "Name": "Suresh", "Department": "Marketing", "Salary": 53000, "JoiningDate": "2019-11-05", "City": "Bangalore", "Experience": 4},
    {"EmpID": 20, "Name": "Anjali", "Department": "Finance", "Salary": 56000, "JoiningDate": "2020-02-14", "City": "Pune", "Experience": 3}
]


df = pd.DataFrame(Employees)   
print(df)

    EmpID     Name Department  Salary JoiningDate       City  Experience
0       1    Anita         HR   45000  2020-03-01  Bangalore           4
1       2     Ravi         IT   60000  2019-07-15  Hyderabad           5
2       3    Meera    Finance   52000  2021-01-10    Chennai           3
3       4    Arjun         IT   75000  2018-11-20  Bangalore           6
4       5  Lakshmi  Marketing   48000  2022-06-12       Pune           2
5       6    Kiran    Finance   50000  2020-09-05      Delhi           4
6       7    Sneha         HR   47000  2021-04-17     Mumbai           3
7       8    Manoj         IT   82000  2017-05-14  Hyderabad           8
8       9    Divya    Finance   54000  2021-09-22    Chennai           3
9      10    Rahul  Marketing   51000  2019-04-19      Delhi           5
10     11    Nisha         HR   46000  2020-08-11       Pune           4
11     12    Varun         IT   70000  2016-12-01  Bangalore           9
12     13    Pooja    Finance   58000  2019-03-23  Hyderabad           5
13     14   Aakash         IT   64000  2022-01-17    Chennai           2
14     15    Rohit  Marketing   49000  2020-07-09      Delhi           3
15     16    Kavya    Finance   61000  2018-05-28     Mumbai           6
16     17     Ajay         IT   85000  2015-10-15  Hyderabad          10
17     18     Neha         HR   48000  2021-06-30    Chennai           2
18     19   Suresh  Marketing   53000  2019-11-05  Bangalore           4
19     20   Anjali    Finance   56000  2020-02-14       Pune           3

In [4]:
print("The Head of the Employees \n", df.head(10))

The Head of the Employees
    EmpID     Name Department  Salary JoiningDate       City  Experience
0      1    Anita         HR   45000  2020-03-01  Bangalore           4
1      2     Ravi         IT   60000  2019-07-15  Hyderabad           5
2      3    Meera    Finance   52000  2021-01-10    Chennai           3
3      4    Arjun         IT   75000  2018-11-20  Bangalore           6
4      5  Lakshmi  Marketing   48000  2022-06-12       Pune           2
5      6    Kiran    Finance   50000  2020-09-05      Delhi           4
6      7    Sneha         HR   47000  2021-04-17     Mumbai           3
7      8    Manoj         IT   82000  2017-05-14  Hyderabad           8
8      9    Divya    Finance   54000  2021-09-22    Chennai           3
9     10    Rahul  Marketing   51000  2019-04-19      Delhi           5

In [5]:
print("The Tail of the Employees \n", df.tail(10))

The Tail of the Employees
     EmpID    Name Department  Salary JoiningDate       City  Experience
10     11   Nisha         HR   46000  2020-08-11       Pune           4
11     12   Varun         IT   70000  2016-12-01  Bangalore           9
12     13   Pooja    Finance   58000  2019-03-23  Hyderabad           5
13     14  Aakash         IT   64000  2022-01-17    Chennai           2
14     15   Rohit  Marketing   49000  2020-07-09      Delhi           3
15     16   Kavya    Finance   61000  2018-05-28     Mumbai           6
16     17    Ajay         IT   85000  2015-10-15  Hyderabad          10
17     18    Neha         HR   48000  2021-06-30    Chennai           2
18     19  Suresh  Marketing   53000  2019-11-05  Bangalore           4
19     20  Anjali    Finance   56000  2020-02-14       Pune           3

In [7]:
print("The shape of the DataSet is \n", df.shape)

The shape of the DataSet is
 (20, 7)

In [9]:
print("The Summary statastics of the Data set is \n", df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmpID        20 non-null     int64
 1   Name         20 non-null     object
 2   Department   20 non-null     object
 3   Salary       20 non-null     int64
 4   JoiningDate  20 non-null     object
 5   City         20 non-null     object
 6   Experience   20 non-null     int64
dtypes: int64(3), object(4)
memory usage: 1.2+ KB
The Summary statastics of the Data set is
 None

In [11]:
print("The Columns of the Data set is the \n", df.columns)

The Columns of the Data set is the
 Index(['EmpID', 'Name', 'Department', 'Salary', 'JoiningDate', 'City',
       'Experience'],
      dtype='object')

In [14]:
print("The Index of the Data set is the \n", df.index)

The Index of the Data set is the
 RangeIndex(start=0, stop=20, step=1)

In [15]:
print("The Stastics of the Data set is \n", df.describe())

The Stastics of the Data set is
           EmpID        Salary  Experience
count  20.00000     20.000000   20.000000
mean   10.50000  57700.000000    4.550000
std     5.91608  11907.980517    2.282081
min     1.00000  45000.000000    2.000000
25%     5.75000  48750.000000    3.000000
50%    10.50000  53500.000000    4.000000
75%    15.25000  61750.000000    5.250000
max    20.00000  85000.000000   10.000000

In [24]:
print(df.loc[7, "JoiningDate"])

print(df.iloc[7, 4])

2017-05-14
2017-05-14

In [33]:
print(df.loc[df["Experience"] > 5])

    EmpID   Name Department  Salary JoiningDate       City  Experience
3       4  Arjun         IT   75000  2018-11-20  Bangalore           6
7       8  Manoj         IT   82000  2017-05-14  Hyderabad           8
11     12  Varun         IT   70000  2016-12-01  Bangalore           9
15     16  Kavya    Finance   61000  2018-05-28     Mumbai           6
16     17   Ajay         IT   85000  2015-10-15  Hyderabad          10

In [34]:
print(df.loc[df["Salary"] > 55000])

    EmpID    Name Department  Salary JoiningDate       City  Experience
1       2    Ravi         IT   60000  2019-07-15  Hyderabad           5
3       4   Arjun         IT   75000  2018-11-20  Bangalore           6
7       8   Manoj         IT   82000  2017-05-14  Hyderabad           8
11     12   Varun         IT   70000  2016-12-01  Bangalore           9
12     13   Pooja    Finance   58000  2019-03-23  Hyderabad           5
13     14  Aakash         IT   64000  2022-01-17    Chennai           2
15     16   Kavya    Finance   61000  2018-05-28     Mumbai           6
16     17    Ajay         IT   85000  2015-10-15  Hyderabad          10
19     20  Anjali    Finance   56000  2020-02-14       Pune           3

In [35]:
print(df.loc[df["Department"] == "IT"])

    EmpID    Name Department  Salary JoiningDate       City  Experience
1       2    Ravi         IT   60000  2019-07-15  Hyderabad           5
3       4   Arjun         IT   75000  2018-11-20  Bangalore           6
7       8   Manoj         IT   82000  2017-05-14  Hyderabad           8
11     12   Varun         IT   70000  2016-12-01  Bangalore           9
13     14  Aakash         IT   64000  2022-01-17    Chennai           2
16     17    Ajay         IT   85000  2015-10-15  Hyderabad          10

In [36]:
print(df.loc[df["Department"] == "HR" ])

    EmpID   Name Department  Salary JoiningDate       City  Experience
0       1  Anita         HR   45000  2020-03-01  Bangalore           4
6       7  Sneha         HR   47000  2021-04-17     Mumbai           3
10     11  Nisha         HR   46000  2020-08-11       Pune           4
17     18   Neha         HR   48000  2021-06-30    Chennai           2

In [38]:
print(df.loc[df["Department"] == "Finance"])

    EmpID    Name Department  Salary JoiningDate       City  Experience
2       3   Meera    Finance   52000  2021-01-10    Chennai           3
5       6   Kiran    Finance   50000  2020-09-05      Delhi           4
8       9   Divya    Finance   54000  2021-09-22    Chennai           3
12     13   Pooja    Finance   58000  2019-03-23  Hyderabad           5
15     16   Kavya    Finance   61000  2018-05-28     Mumbai           6
19     20  Anjali    Finance   56000  2020-02-14       Pune           3

In [39]:
print(df.loc[df["Department"] == "Marketing"])

    EmpID     Name Department  Salary JoiningDate       City  Experience
4       5  Lakshmi  Marketing   48000  2022-06-12       Pune           2
9      10    Rahul  Marketing   51000  2019-04-19      Delhi           5
14     15    Rohit  Marketing   49000  2020-07-09      Delhi           3
18     19   Suresh  Marketing   53000  2019-11-05  Bangalore           4

In [40]:
print(df.loc[df["City"] == "Hyderabad"])

    EmpID   Name Department  Salary JoiningDate       City  Experience
1       2   Ravi         IT   60000  2019-07-15  Hyderabad           5
7       8  Manoj         IT   82000  2017-05-14  Hyderabad           8
12     13  Pooja    Finance   58000  2019-03-23  Hyderabad           5
16     17   Ajay         IT   85000  2015-10-15  Hyderabad          10

In [ ]:
print(df.groupby("Salary").suma())

        EmpID         Name   Department           JoiningDate         City  \
Salary
45000       1        Anita           HR            2020-03-01    Bangalore
46000      11        Nisha           HR            2020-08-11         Pune
47000       7        Sneha           HR            2021-04-17       Mumbai
48000      23  LakshmiNeha  MarketingHR  2022-06-122021-06-30  PuneChennai
49000      15        Rohit    Marketing            2020-07-09        Delhi
50000       6        Kiran      Finance            2020-09-05        Delhi
51000      10        Rahul    Marketing            2019-04-19        Delhi
52000       3        Meera      Finance            2021-01-10      Chennai
53000      19       Suresh    Marketing            2019-11-05    Bangalore
54000       9        Divya      Finance            2021-09-22      Chennai
56000      20       Anjali      Finance            2020-02-14         Pune
58000      13        Pooja      Finance            2019-03-23    Hyderabad
60000       2         Ravi           IT            2019-07-15    Hyderabad
61000      16        Kavya      Finance            2018-05-28       Mumbai
64000      14       Aakash           IT            2022-01-17      Chennai
70000      12        Varun           IT            2016-12-01    Bangalore
75000       4        Arjun           IT            2018-11-20    Bangalore
82000       8        Manoj           IT            2017-05-14    Hyderabad
85000      17         Ajay           IT            2015-10-15    Hyderabad

        Experience
Salary
45000            4
46000            4
47000            3
48000            4
49000            3
50000            4
51000            5
52000            3
53000            4
54000            3
56000            3
58000            5
60000            5
61000            6
64000            2
70000            9
75000            6
82000            8
85000           10

In [43]:
print(df.groupby("Salary").max())

        EmpID    Name Department JoiningDate       City  Experience
Salary
45000       1   Anita         HR  2020-03-01  Bangalore           4
46000      11   Nisha         HR  2020-08-11       Pune           4
47000       7   Sneha         HR  2021-04-17     Mumbai           3
48000      18    Neha  Marketing  2022-06-12       Pune           2
49000      15   Rohit  Marketing  2020-07-09      Delhi           3
50000       6   Kiran    Finance  2020-09-05      Delhi           4
51000      10   Rahul  Marketing  2019-04-19      Delhi           5
52000       3   Meera    Finance  2021-01-10    Chennai           3
53000      19  Suresh  Marketing  2019-11-05  Bangalore           4
54000       9   Divya    Finance  2021-09-22    Chennai           3
56000      20  Anjali    Finance  2020-02-14       Pune           3
58000      13   Pooja    Finance  2019-03-23  Hyderabad           5
60000       2    Ravi         IT  2019-07-15  Hyderabad           5
61000      16   Kavya    Finance  2018-05-28     Mumbai           6
64000      14  Aakash         IT  2022-01-17    Chennai           2
70000      12   Varun         IT  2016-12-01  Bangalore           9
75000       4   Arjun         IT  2018-11-20  Bangalore           6
82000       8   Manoj         IT  2017-05-14  Hyderabad           8
85000      17    Ajay         IT  2015-10-15  Hyderabad          10

In [2]:
import pandas as pd

Employees = [
    {"EmpID": 1, "Name": "Anita", "Department": "HR", "Salary": 45000, "JoiningDate": "2020-03-01", "City": "Bangalore", "Experience": 4},
    {"EmpID": 2, "Name": "Ravi", "Department": "IT", "Salary": 60000, "JoiningDate": "2019-07-15", "City": "Hyderabad", "Experience": 5},
    {"EmpID": 3, "Name": "Meera", "Department": "Finance", "Salary": 52000, "JoiningDate": "2021-01-10", "City": "Chennai", "Experience": 3},
    {"EmpID": 4, "Name": "Arjun", "Department": "IT", "Salary": 75000, "JoiningDate": "2018-11-20", "City": "Bangalore", "Experience": 6},
    {"EmpID": 5, "Name": "Lakshmi", "Department": "Marketing", "Salary": 48000, "JoiningDate": "2022-06-12", "City": "Pune", "Experience": 2},
    {"EmpID": 6, "Name": "Kiran", "Department": "Finance", "Salary": 50000, "JoiningDate": "2020-09-05", "City": "Delhi", "Experience": 4},
    {"EmpID": 7, "Name": "Sneha", "Department": "HR", "Salary": 47000, "JoiningDate": "2021-04-17", "City": "Mumbai", "Experience": 3},
    {"EmpID": 8, "Name": "Manoj", "Department": "IT", "Salary": 82000, "JoiningDate": "2017-05-14", "City": "Hyderabad", "Experience": 8},
    {"EmpID": 9, "Name": "Divya", "Department": "Finance", "Salary": 54000, "JoiningDate": "2021-09-22", "City": "Chennai", "Experience": 3},
    {"EmpID": 10, "Name": "Rahul", "Department": "Marketing", "Salary": 51000, "JoiningDate": "2019-04-19", "City": "Delhi", "Experience": 5},
    {"EmpID": 11, "Name": "Nisha", "Department": "HR", "Salary": 46000, "JoiningDate": "2020-08-11", "City": "Pune", "Experience": 4},
    {"EmpID": 12, "Name": "Varun", "Department": "IT", "Salary": 70000, "JoiningDate": "2016-12-01", "City": "Bangalore", "Experience": 9},
    {"EmpID": 13, "Name": "Pooja", "Department": "Finance", "Salary": 58000, "JoiningDate": "2019-03-23", "City": "Hyderabad", "Experience": 5},
    {"EmpID": 14, "Name": "Aakash", "Department": "IT", "Salary": 64000, "JoiningDate": "2022-01-17", "City": "Chennai", "Experience": 2},
    {"EmpID": 15, "Name": "Rohit", "Department": "Marketing", "Salary": 49000, "JoiningDate": "2020-07-09", "City": "Delhi", "Experience": 3},
    {"EmpID": 16, "Name": "Kavya", "Department": "Finance", "Salary": 61000, "JoiningDate": "2018-05-28", "City": "Mumbai", "Experience": 6},
    {"EmpID": 17, "Name": "Ajay", "Department": "IT", "Salary": 85000, "JoiningDate": "2015-10-15", "City": "Hyderabad", "Experience": 10},
    {"EmpID": 18, "Name": "Neha", "Department": "HR", "Salary": 48000, "JoiningDate": "2021-06-30", "City": "Chennai", "Experience": 2},
    {"EmpID": 19, "Name": "Suresh", "Department": "Marketing", "Salary": 53000, "JoiningDate": "2019-11-05", "City": "Bangalore", "Experience": 4},
    {"EmpID": 20, "Name": "Anjali", "Department": "Finance", "Salary": 56000, "JoiningDate": "2020-02-14", "City": "Pune", "Experience": 3}
]


df = pd.DataFrame(Employees)   
print(df)

    EmpID     Name Department  Salary JoiningDate       City  Experience
0       1    Anita         HR   45000  2020-03-01  Bangalore           4
1       2     Ravi         IT   60000  2019-07-15  Hyderabad           5
2       3    Meera    Finance   52000  2021-01-10    Chennai           3
3       4    Arjun         IT   75000  2018-11-20  Bangalore           6
4       5  Lakshmi  Marketing   48000  2022-06-12       Pune           2
5       6    Kiran    Finance   50000  2020-09-05      Delhi           4
6       7    Sneha         HR   47000  2021-04-17     Mumbai           3
7       8    Manoj         IT   82000  2017-05-14  Hyderabad           8
8       9    Divya    Finance   54000  2021-09-22    Chennai           3
9      10    Rahul  Marketing   51000  2019-04-19      Delhi           5
10     11    Nisha         HR   46000  2020-08-11       Pune           4
11     12    Varun         IT   70000  2016-12-01  Bangalore           9
12     13    Pooja    Finance   58000  2019-03-23  Hyderabad           5
13     14   Aakash         IT   64000  2022-01-17    Chennai           2
14     15    Rohit  Marketing   49000  2020-07-09      Delhi           3
15     16    Kavya    Finance   61000  2018-05-28     Mumbai           6
16     17     Ajay         IT   85000  2015-10-15  Hyderabad          10
17     18     Neha         HR   48000  2021-06-30    Chennai           2
18     19   Suresh  Marketing   53000  2019-11-05  Bangalore           4
19     20   Anjali    Finance   56000  2020-02-14       Pune           3

In [3]:
df_group = df.groupby("Department").agg({"Salary":["mean","max","min"]})

print(df_group)

                  Salary
                    mean    max    min
Department
Finance     55166.666667  61000  50000
HR          46500.000000  48000  45000
IT          72666.666667  85000  60000
Marketing   50250.000000  53000  48000

In [4]:
grouped = df.groupby("Department")["Salary"].mean()

print(grouped)

Department
Finance      55166.666667
HR           46500.000000
IT           72666.666667
Marketing    50250.000000
Name: Salary, dtype: float64