In [11]:
import re

ans = re.findall(r'[0-9]','1234567890123456789')
print(ans)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [18]:
import re
n = input("Enter the Input: ")

ans = re.findall(r'[a-zA-Z]',n)

print(ans)

['S', 'H', 'A', 'N', 'M', 'U', 'K', 'H', 'A']

In [25]:
import re

text = input("Enter the Input: ")

result = re.finditer(r'[a-zA-Z]{2}',text)

for i in result:
    print(i.group(),i.span())

sh (0, 2)
an (2, 4)
mu (4, 6)
kh (6, 8)
aS (8, 10)
HA (10, 12)
NM (12, 14)
UK (14, 16)
HA (16, 18)

In [31]:
import re

text = input("Enter the Input: ")

res = re.finditer(r'[0-9a-zA-Z]{3}',text)
for i in res:
    print(i.group(),i.start())

789 0
456 3
123 6
741 9
258 12
963 15

In [32]:
import re

number = input("Enter the Your Phone Number: ")

res = re.match(r'[0-9]{10}',number)

print(res.group())

7894561237

In [ ]:
pattern = r'^[A-Za-z]{2,25}( [A-Za-z]{2,25})+$' #Full Name

pattern = r'^[a-zA-Z0-9._]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$' #Email

pattern = r'^(?:\+91|0)?[6-9]\d{9}$' #Phone Number

pattern = r'^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$' #Password

In [3]:
import re

res = re.findall(r'[0-9]','Shanmukh1234567890shanmukh1234567890')

print(set(res))

{'9', '1', '4', '8', '2', '6', '7', '3', '0', '5'}

In [12]:
import matplotlib.pyplot as plt

import pandas as pd

stats = {
    'names' : ['starc','kolhi','dhoni','rohit','siraj','cummins'],
    'scores' : [1,10,12,25,56,20],
    'grades' : ['A','B','C','D','E','F'],
    'Satisfy' : ['good','good','bad','good','bad','good']

}

df = pd.DataFrame(stats)

print(df)

     names  scores grades Satisfy
0    starc       1      A    good
1    kolhi      10      B    good
2    dhoni      12      C     bad
3    rohit      25      D    good
4    siraj      56      E     bad
5  cummins      20      F    good

In [ ]:
print(df.head(3))

   names  scores grades Satisfy
0  starc       1      A    good

In [14]:
print(df.tail(3))

     names  scores grades Satisfy
3    rohit      25      D    good
4    siraj      56      E     bad
5  cummins      20      F    good

In [15]:
print(df.describe())

          scores
count   6.000000
mean   20.666667
std    19.200694
min     1.000000
25%    10.500000
50%    16.000000
75%    23.750000
max    56.000000

In [16]:
import pandas as pd

prices = [3000, 148500, 20000, 32500, 45200]

products = ["Wireless Earphones","Iphone", "Smart Watch", "Mobile Phone", "Laptop"]

res = pd.Series(prices, index = products)
print(res)

Wireless Earphones      3000
Iphone                148500
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
dtype: int64

In [ ]:
print(res.mean())

print(res.median())

print(res.max())

49840.0
32500.0
148500

In [21]:
print(res.apply(lambda x: x*0.90 + x))

Wireless Earphones      5700.0
Iphone                282150.0
Smart Watch            38000.0
Mobile Phone           61750.0
Laptop                 85880.0
dtype: float64

In [22]:
print(res.sort_values())

Wireless Earphones      3000
Smart Watch            20000
Mobile Phone           32500
Laptop                 45200
Iphone                148500
dtype: int64

In [23]:
print(res.sort_index())

Iphone                148500
Laptop                 45200
Mobile Phone           32500
Smart Watch            20000
Wireless Earphones      3000
dtype: int64

In [ ]:
print(res.apply)